<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82560807642-44jeh028l92gou4dsoae78031108o3r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82560807642-44jeh028l92gou4dsoae78031108o3r9</string>
	<key>API_KEY</key>
	<string>AIzaSyA_wBPQOQr6uj6ytawMQ4Z3SZXJjKy4Xu4</string>
	<key>GCM_SENDER_ID</key>
	<string>82560807642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onequizadmin</string>
	<key>PROJECT_ID</key>
	<string>onequiz-bd727</string>
	<key>STORAGE_BUCKET</key>
	<string>onequiz-bd727.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82560807642:ios:16dc2cc0c6c7c9779c2be3</string>
</dict>
</plist>